.panel {
    position: absolute;
    margin-left: 10px;
    margin-top: 0;
    text-align: center;
    background-color: #ffffff;
    width: 600px;
    border-radius: 10px;
    padding: 0;
}
.btn {
    cursor:pointer;
    color: white;
    background: #00AA00;
    font-size: 16px;
    line-height: 38px;
    height: 38px;
    padding: 0 20px;
    border-radius: 3px;
    display: inline-block;
    text-decoration: none;
    transition: background .15s;
}
.btn:hover {
    background-color: #00BB00;
}

.commodityInfoList{
    width:600px;
    height:auto;
    margin: 0 auto;
    padding: 10px;
}
.commodityInfoList ul{
    list-style-type: none;
    width: 600px;
}
.commodityInfoList ul li{
    border-bottom: 1px solid #DFDFDF;
    padding: 12px;
}
.commodityInfoList ul li label{
    height:30px;
    width:100px;
    display:inline-block;
    float: left;
}
.commodityInfoList ul li input[type=text]{
    margin-left:0;
    width:220px;
    height:20px;
    border:1px solid #AAAAAA;
    border-radius:10px;
    padding:3px 8px;
    transition: .30s;
}
.commodityInfoList ul li select{
    margin-left:0;
    width:238px;
    height:30px;
    border:1px solid #AAAAAA;
    border-radius:10px;
    padding:3px 8px;
    transition: .30s;
}
.commodityInfoList ul li input:focus{
    border-color: green;
    padding-right:40px;
}

.commodityTable {
    position: absolute;
    margin-left: 700px;
    margin-top: 15px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    width:600px;
    border-collapse:collapse;
}
.commodityTable td {
    text-align: center;
    height:35px;
    font-size:1.2em;
    border:1px solid #979ea8;
    padding:3px 7px 3px 7px;
}
.commodityTable th {
    border:1px solid #979ea8;
    font-size:1.3em;
    text-align:center;
    padding-left:10px;
    padding-top:5px;
    padding-bottom:5px;
    background-color: #ffffff;
    color: #45494a;
}
.commodityTable tr.alt td {
    color:#000000;
    background-color:#EAF2D3;
}

.opBtn {
    display: inline-block;
    cursor:pointer;
    color: white;
    margin-top:5px;
    margin-left: 5px;
    background: rgb(48, 35, 174);
    font-size: 20px;
    line-height: 22px;
    height: 25px;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
    transition: background .15s;
}

.opBtn:hover {
    background-color: rgb(81, 67, 224);
}