.title {
    cursor: default;
    margin: 30px auto;
    font-size: 30px;
    border: none;
    outline: none;
    text-align: center;
}

.modificationList {
    padding:20px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    width:96%;
    margin: 20px auto;
    border-collapse:collapse;
}
.modificationList td {
    text-align: center;
    height:35px;
    font-size:1.2em;
    border:1px solid #979ea8;
    padding:3px 7px 3px 7px;
}
.modificationList th {
    border:1px solid #979ea8;
    font-size:1.3em;
    text-align:center;
    padding-left:10px;
    padding-top:5px;
    padding-bottom:5px;
    background-color: #ffffff;
    color: #45494a;
}
.modificationList tr.alt td {
    color:#000000;
    background-color:#EAF2D3;
}