<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>customer-shopping</title>
    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.min.js"></script>
    <script type="text/javascript" src="../static/js/model.js"></script>
    <script type="text/javascript" src="../static/js/commodityInfo.js"></script>
    <script type="text/javascript" src="../static/js/restaurantInfo.js"></script>
    <script type="text/javascript" src="../static/js/registerLogin.js"></script>
    <script type="text/javascript" src="../static/js/customerShopping.js"></script>
    <script type="text/javascript" src="../static/js/sweetalert.min.js"></script>
    <link href="../static/css/navigationBar.css" rel="stylesheet">
    <link href="../static/css/customerShopping.css" rel="stylesheet">
    <link href="../static/css/sweetalert.css" rel="stylesheet">
</head>
<body style="margin: 0">
<div>
    <ul class="menu">
        <li><p>Yummy!</p></li>
        <li><a href="customer-home">主页</a></li>
        <li><a href="customer-order">我的订单</a></li>
        <li><a href="customer-address">收货地址</a></li>
        <li><a href="customer-statistics">统计信息</a></li>
        <li style="float: right;">
            <a href="javascript:void(0);" onclick="logout()">Logout</a>
        </li>
        <li style="float: right">
            <label>
                <input style="cursor: pointer" id="customerName" type="button" value="用户" onclick="turnToCustomerInfo()"/>
            </label>
        </li>
        <li style="float: right"><p style="margin: 0; padding: 18px 0">您好!</p></li>
    </ul>
</div>
<div align="center">
    <label>
        <input id="restaurantName" type="text" class="title" value="餐厅名称" readonly />
    </label>
</div>

<div>
    <div style="display: inline-block;">
        <label for="commodityTable" class="commodityTableLabel">
            所有商品
        </label>
        <table id="commodityTable" class="commodityTable">
            <tr>
                <th style="width: 15%">商品名称</th>
                <th style="width: 10%">价格</th>
                <th style="width: 10%">数量</th>
                <th>商品描述</th>
                <th style="width: 12.5%">商品优惠</th>
                <th style="width: 12.5%">优惠数量</th>
                <th style="width: 12%">操作</th>
            </tr>
        </table>
    </div>

    <div style="display: inline-block;">
        <label for="shoppingCartTable" class="shoppingCartTableLabel">
            购物车
        </label>
        <table id="shoppingCartTable" class="shoppingCartTable">
            <tr>
                <th>商品名称</th>
                <th style="width: 30%">购买数量</th>
                <th style="display: none;">优惠数量</th>
                <th style="width: 30%">操作</th>
            </tr>
        </table>
    </div>
</div>

<div>
    <input class="buyBtn" type="button" value="去结算"/>
</div>

<script>
    infoInit();
    function infoInit() {
        document.getElementById("customerName").value = localStorage.getItem("customerName");
        var currentRestaurantId = localStorage.getItem("selectRestaurant");
        var currentRestaurant = findRestaurantInfoById(currentRestaurantId);
        document.getElementById("restaurantName").value = currentRestaurant.restaurantName;
        showRestaurantCommodity(currentRestaurantId);
    }

    function turnToCustomerInfo() {
        window.location.href = "customer-info";
    }
</script>

</body>
</html>