<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>customer-home</title>
    <link href="../static/css/navigationBar.css" rel="stylesheet">
</head>
<body style="margin: 0">
<div>
    <ul class="menu">
        <li><p>Yummy!</p></li>
        <li class="active"><a href="#">主页</a></li>
        <li><a href="#">我的订单</a></li>
        <li style="float: right">
            <label>
                <input id="customerName" type="button" value="用户"/>
            </label>
        </li>
    </ul>
</div>
</body>
</html>