<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>customer-statistics</title>
    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.min.js"></script>
    <script type="text/javascript" src="../static/js/model.js"></script>
    <script type="text/javascript" src="../static/js/registerLogin.js"></script>
    <script type="text/javascript" src="../static/js/orderManagement.js"></script>
    <script type="text/javascript" src="../static/js/customerStatistics.js"></script>
    <script type="text/javascript" src="../static/js/restaurantInfo.js"></script>
    <script type="text/javascript" src="../static/js/sweetalert.min.js"></script>
    <link href="../static/css/navigationBar.css" rel="stylesheet">
    <link href="../static/css/customerHome.css" rel="stylesheet">
    <link href="../static/css/customerOrder.css" rel="stylesheet">
    <link href="../static/css/sweetalert.css" rel="stylesheet">
</head>
<body style = "margin: 0">
<div>
    <ul class="menu">
        <li><p>Yummy!</p></li>
        <li><a href="customer-home">主页</a></li>
        <li><a href="customer-order">我的订单</a></li>
        <li><a href="customer-address">收货地址</a></li>
        <li class="active"><a href="customer-statistics">统计信息</a></li>
        <li style="float: right;">
            <a href="javascript:void(0);" onclick="logout()">Logout</a>
        </li>
        <li style="float: right">
            <label>
                <input style="cursor: pointer" id="customerName" type="button" value="用户" onclick="turnToCustomerInfo()"/>
            </label>
        </li>
        <li style="float: right"><p style="margin: 0; padding: 18px 0">您好!</p></li>
    </ul>
</div>
<div>
    <div style="display: inline-block;">
        <label for="filterCondition-one" class="addressLabel">筛选条件一</label>
        <select id="filterCondition-one" class="customerAddress"  onchange="updateCondition()">
            <option>购买记录</option>
            <option>退订记录</option>
        </select>
    </div>
    <div style="display: inline-block;">
        <label for="filterCondition-two" class="addressLabel">筛选条件二</label>
        <select id="filterCondition-two" class="customerAddress"  onchange="updateCondition()">
            <option>时间</option>
            <option>金额</option>
            <option>餐厅</option>
        </select>
    </div>
    <div style="display: inline-block">
        <input id="totalPay" class="totalPay" type="text" value="总消费：0 元" />
    </div>
</div>
<div>
    <table id="orderList" class="orderList">
        <tr>
            <th style="display: none">订单编号</th>
            <th style="width: 18%;">下单时间</th>
            <th>订单内容</th>
            <th style="width: 12%;">支付金额(元)</th>
            <th style="width: 10%;">状态</th>
            <th style="width: 12%;">操作</th>
        </tr>
    </table>
</div>
<div>
    <table style="display: none" id="restaurantOrderList" class="orderList">
        <tr>
            <th style="display: none">餐厅编号</th>
            <th>餐厅名称</th>
            <th>购买次数</th>
            <th style="width: 12%;">操作</th>
        </tr>
    </table>
</div>


<script>
    infoInit();
    function infoInit() {
        document.getElementById("customerName").value = localStorage.getItem("customerName");
        updateCondition();
        setTotalPay();
    }

    function updateCondition() {
        var conditionOne = document.getElementById("filterCondition-one").value;
        var conditionTwo = document.getElementById("filterCondition-two").value;
        if(conditionTwo === "餐厅") {
            document.getElementById("orderList").style.display = "none";
            document.getElementById("restaurantOrderList").style.display = "table";
            if(conditionOne === "退订记录") {
                document.getElementById("restaurantOrderList").rows[0].cells[2].innerHTML = "退订次数";
                setRestaurantOrderReturnList();
            }else if(conditionOne === "购买记录") {
                document.getElementById("restaurantOrderList").rows[0].cells[2].innerHTML = "购买次数";
                setRestaurantOrderList();
            }
        }
        else if(conditionTwo === "时间"){
            document.getElementById("orderList").style.display = "table";
            document.getElementById("restaurantOrderList").style.display = "none";
            if(conditionOne === "退订记录") {
                setOrderReturnListSortByTime();
            }else if(conditionOne === "购买记录") {
                setOrderListSortByTime();
            }
        }
        else if(conditionTwo === "金额"){
            document.getElementById("orderList").style.display = "table";
            document.getElementById("restaurantOrderList").style.display = "none";
            if(conditionOne === "退订记录") {
                setOrderReturnListSortByMoney();
            }else if(conditionOne === "购买记录") {
                setOrderListSortByMoney();
            }
        }
    }

    function turnToCustomerInfo() {
        window.location.href = "customer-info";
    }
</script>
</body>
</html>