<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>customer-home</title>
    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.min.js"></script>
    <script type="text/javascript" src="../static/js/model.js"></script>
    <script type="text/javascript" src="../static/js/customerInfo.js"></script>
    <script type="text/javascript" src="../static/js/registerLogin.js"></script>
    <script type="text/javascript" src="../static/js/customerHome.js"></script>
    <script type="text/javascript" src="../static/js/sweetalert.min.js"></script>
    <link href="../static/css/navigationBar.css" rel="stylesheet">
    <link href="../static/css/customerHome.css" rel="stylesheet">
    <link href="../static/css/restaurantModification.css" rel="stylesheet">
    <link href="../static/css/sweetalert.css" rel="stylesheet">
</head>
<body style="margin: 0">
<div>
    <ul class="menu">
        <li><p>Yummy!</p></li>
        <li class="active"><a href="customer-home">主页</a></li>
        <li><a href="customer-order">我的订单</a></li>
        <li><a href="customer-address">收货地址</a></li>
        <li><a href="customer-statistics">统计信息</a></li>
        <li style="float: right;">
            <a href="javascript:void(0);" onclick="logout()">Logout</a>
        </li>
        <li style="float: right">
            <label>
                <input style="cursor: pointer" id="customerName" type="button" value="用户" onclick="turnToCustomerInfo()"/>
            </label>
        </li>
        <li style="float: right"><p style="margin: 0; padding: 18px 0">您好!</p></li>
    </ul>
</div>
<div>
    <label for="customer-address" class="addressLabel">当前地址</label>
    <select id="customer-address" class="customerAddress" onchange="updateRestaurantList()"></select>
</div>
<div>
    <table style="margin-top: 30px" id="modificationTable" class="modificationList">
        <tr>
            <th style="display: none">餐厅编号</th>
            <th>餐厅名称</th>
            <th>餐厅类型</th>
            <th>餐厅地址</th>
            <th style="width: 20%">操作</th>
        </tr>
    </table>
</div>
<script>
    welcome();
    function welcome() {
        var customerMail = localStorage.getItem("customerMail");
        var currentCustomer = findCustomerInfoByMail(customerMail);
        localStorage.setItem("customerName",currentCustomer.customerName);
        localStorage.setItem("customerId",currentCustomer.customerId);
        document.getElementById("customerName").value = currentCustomer.customerName;
        setCustomerAddress();
    }
    function turnToCustomerInfo() {
        window.location.href = "customer-info";
    }
</script>
</body>
</html>