<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.min.js"></script>
    <script type="text/javascript" src="../static/js/registerLogin.js"></script>
    <link href="../static/css/backgroundImg.css" rel="stylesheet">
</head>
<body>

<div class="backgroundImg">
    <img src="../static/img/bg.jpg" alt="backgroundImg"/>
</div>

<script>
    sendMail("980231201@qq.com");
    //register("mail","password","name","number");
    //login("mail","password");
</script>
</body>
</html>