<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>restaurant-info</title>
    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.min.js"></script>
    <script type="text/javascript" src="../static/js/model.js"></script>
    <script type="text/javascript" src="../static/js/commonService.js"></script>
    <script type="text/javascript" src="../static/js/registerLogin.js"></script>
    <script type="text/javascript" src="../static/js/restaurantInfo.js"></script>
    <script type="text/javascript" src="../static/js/modificationManagement.js"></script>
    <script type="text/javascript" src="../static/js/restaurantAddress.js"></script>
    <script type="text/javascript" src="../static/js/sweetalert.min.js"></script>
    <link href="../static/css/navigationBar.css" rel="stylesheet">
    <link href="../static/css/userInfoList.css" rel="stylesheet">
    <link href="../static/css/sweetalert.css" rel="stylesheet">
</head>
<body style = "margin: 0">
<div>
    <ul class="menu">
        <li><p>Yummy!</p></li>
        <li><a href="restaurant-home">我的餐厅</a></li>
        <li><a href="restaurant-release">发布信息</a></li>
        <li><a href="restaurant-order">销售记录</a></li>
        <li><a href="restaurant-statistics">统计信息</a></li>
        <li><a href="restaurant-modification">我的消息</a></li>
        <li style="float: right;">
            <a href="javascript:void(0);" onclick="logout()">Logout</a>
        </li>
        <li style="float: right">
            <label>
                <input style="cursor: pointer" id="restaurantName" type="button" value="用户" onclick="refresh()"/>
            </label>
        </li>
        <li style="float: right"><p style="margin: 0; padding: 18px 0">您好!</p></li>
    </ul>
</div>

<section class="panel">
    <h2>个人信息</h2>
    <div class="infoList">
        <form>
            <ul>
                <li>
                    <label>餐厅登录码</label>
                    <input id="restaurant-id" type="text" placeholder="restaurant-id" disabled />
                </li>
                <li>
                    <label>餐厅名称</label>
                    <input id="restaurant-name" type="text" placeholder="restaurant-name" disabled />
                </li>
                <li>
                    <label>餐厅地址</label>
                    <input id="restaurant-address" type="text" placeholder="restaurant-address" disabled />
                </li>
                <li>
                    <label>密码</label>
                    <input id="restaurant-password" type="password" placeholder="restaurant-password" disabled />
                </li>
                <li>
                    <label for="restaurant-type">餐厅类型</label>
                    <select id="restaurant-type" disabled>
                        <option>-- please select --</option>
                        <option>西式快餐</option>
                        <option>中式快餐</option>
                        <option>甜品饮品</option>
                        <option>火锅</option>
                        <option>地方美食</option>
                    </select>
                </li>
            </ul>
        </form>
    </div>

    <p>
        <a id="modify" onclick="modify()" class="btn">
            编辑餐厅信息
        </a>
        <a id="modifyPwd" onclick="modifyPassword()" class="btn">
            修改密码
        </a>
        <a id="modifyInfo" onclick="modifyInfo()" class="btn">
            保存餐厅信息
        </a>
    </p>
</section>

<script>
    infoInit();
    function infoInit() {
        var currentRestaurant = findRestaurantInfoById(localStorage.getItem("restaurantId"));
        var currentRestaurantAddress = showRestaurantAddress(localStorage.getItem("restaurantId"));
        document.getElementById("restaurant-id").value = currentRestaurant.restaurantId;
        document.getElementById("restaurant-name").value = currentRestaurant.restaurantName;
        document.getElementById("restaurantName").value = currentRestaurant.restaurantName;
        if(currentRestaurantAddress.address !== null)
            document.getElementById("restaurant-address").value = currentRestaurantAddress.address;
        document.getElementById("restaurant-password").value = currentRestaurant.restaurantPassword;
        var typeList = document.getElementById("restaurant-type");
        for(var i = 0; i < typeList.options.length; i++){
            if(typeList.options[i].value === currentRestaurant.restaurantType){
                typeList.options[i].selected = true;
                break;
            }
        }
    }
    function refresh() {
        window.location.reload();
    }
    function modify() {
        document.getElementById("restaurant-name").disabled = false;
        document.getElementById("restaurant-address").disabled = false;
        document.getElementById("restaurant-type").disabled = false;
        swal("编辑权限已开启", "可在文本框中修改部分餐厅信息", "success");
    }
</script>
</body>
</html>